# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Specific local Python cache file
task.cpython-314.pyc

# Virtual environments
venv/
.venv/
env/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/